.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidenav main-page";
  height: 100%;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
}

.sidenav-list {
  padding: 20px;
  list-style-type: none;
}

.sidenav-list-item {
  padding: 10px 0px;
  margin: 15px 20px;
  @apply text-white text-2xl;
  width: fit-content;
  position: relative;
  transition: 0.3s ease-in-out;
}

.sidenav-list-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.sidenav-list-item:hover {
  @apply font-semibold;
  cursor: pointer;
  transform-origin: 0% 50%;
  transform: scale(1.25);
  transition: transform 0.3s ease-in-out;
}

.sidenav-list-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.sidenav-list-item:active {
  @apply font-semibold;
  cursor: pointer;
  transform-origin: 0% 50%;
  transform: scale(1.25);
  transition: transform 0.3s ease-in-out;
}

.item-active {
  @apply font-semibold;
  transform-origin: 0% 50%;
  transform: scale(1.25);
  border-bottom: 2px solid red;
  transition: transform 0.3s ease-in-out;
}

.item-active:hover::after {
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.main-page {
  grid-area: main-page;
  padding: 20px 40px;
}
