@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

#app {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.column-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}

.row-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5;
}

.btn-primary {
  @apply py-2 px-4 bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg mx-auto;
}

.btn-primary:disabled {
  @apply pointer-events-none py-2 px-4 bg-red-500 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg mx-auto;
}

.card {
  @apply flex px-10 py-5 mx-auto bg-white rounded-lg shadow-lg;
  transform-style: preserve-3d;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "header header" "sidenav main-page";
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #811434;
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
}

.sidenav-list {
  list-style-type: none;
}

.sidenav-list-item {
  padding: 15px 20px;
  @apply text-gray-500 text-base;
  transition: 0.5s ease;
}

.sidenav-list-item:hover {
  @apply font-semibold;
  cursor: pointer;
  background-color: rgb(247, 241, 243);
  transition: 0.5s ease;
}

.item-active {
  @apply font-semibold;
  background-color: rgb(247, 241, 243);
  transition: 0.5s ease;
  color: #811434;
}

.item-active:hover {
  background-color: rgb(247, 241, 243);
  transition: 0.5s ease;
}

.main-page {
  grid-area: main-page;
  background-color: #f5f5f5;
  padding: 20px 40px;
}

.page-title {
  width: 175px;
  height: auto;
}
